<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>Donate Me !!</title>
  </head>
  <body>

    <div class="header">
        <h1>Donate Page</h1>
      </div>
      <div class="container">
        <div class="intro">
          <h2>Hello, I'm Pratyush Kashyap!</h2>
          <p>I am a passionate developer working on open-source projects. Your support helps me keep my projects alive and continue creating more awesome stuff!</p>
        </div>
        <div class="donation">
            <form action="/" method="POST">
            <label>Enter Amount : </label>
            <input type="text" name="amount" required>
            <p>Pay using Razorpay</p>
        </div>
        <button class="donate-button">Donate Me</button>
        </form>
        {% if amount %}
        <div>
            Thank You For Your donation of INR "{{amount}}" 
        </div>
        {% endif %}
      </div>
  </body>
</html>

